@import url('./reset.css');

@font-face {
  src: url("../fonts/MuseoCyrl-500.woff");
  font-family: "MuseoCyrl";
}

@font-face {
  src: url("../fonts/Open-Sans.woff");
  font-family: "OpenSans";
}

a {
  color: #000;
  text-decoration: none;
}

body {
  background: #fff;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  color: #232323;
}

button, textarea {
  font-family: 'OpenSans', sans-serif;
}

.header {
  padding: 20px 40px;
  background: #fff;
}

.header--inner {
  box-shadow: 0 0 14px 0 rgba(0,0,0,.15);
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 999;
}

.header__info {
  float: right;
  line-height: 36px;
  white-space: nowrap;
}

.header__logo {
  cursor: pointer;
}

.header__info-text {
  color: #232323;
  margin-right: 15px;
  text-decoration: none;
}

.header__info-text--a,
.contacts__item-value--a {
  cursor: pointer;
}

.header__info-text--a:hover,
.contacts__item-value--a:hover {
  color: #0587c0;
  text-decoration: underline;
}

.header__info-button {
  border: 0;
  background: #ffde1a;
  border-radius: 4px;
  padding: 8px 25px;
  font-size: 16px;
  cursor: pointer;
}

.header__info-button:hover {
  background: #ffda00;
}

.main-title {
  font-family: "MuseoCyrl";
  text-align: center;
  font-size: 48px;
  margin: 100px 0 50px 0;
}

.menu {
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
}

.menu-item {
  display: inline-block;
  padding: 8px 25px;
  border: 1px solid #ececec;
  border-radius: 4px;
  margin: 5px 3px;
  color: #0587c0;
  cursor: pointer;
}

.menu-item:hover {
  border-color: #0587c0;
}

.menu-item--active {
  background: #0587c0;
  color: #fff;
}

.projects-container {
  margin: 50px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1350px;
  justify-content: center;
  align-items: stretch;
}

.main-page {
  padding: 0 40px 100px;
  text-align: center;
}

.main-page--inner {
  padding: 40px;
  margin-top: 78px;
}

.project__brand {
  font-size: 20px;
  margin: 10px 0 0 0;
}

.project__product {
  margin: 10px 0 0 0;
  font-size: 20px;
  font-weight: 600;
  color: rgba(5, 135, 192, 0.7);
}

.inner-project__product {
  margin: 15px 0 0 0;
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

.project__name {
  color: #0587c0;
  font-size: 30px;
  margin: 5px 0 0 0;
  padding-bottom: 4px;
  border-bottom: 2px dotted #fff;
  display: inline-block;
  font-family: "MuseoCyrl";
  font-weight: 700;
  max-width: 450px;
}

.project-link {
  margin: 30px 15px 0;
  text-decoration: none;
}

.project {
  margin: 0 0 70px 0;
  cursor: pointer;
}

.project:hover>.project__name,
.project__name:hover {
  border-bottom: 2px dotted #0587c0;
}

.contacts {
  max-width: 1350px;
  margin: 50px auto 0;
  box-shadow: 0 0 14px 0 rgba(0,0,0,.15);
  padding: 57px;
}

.contacts__title {
  font-family: "MuseoCyrl";
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 40px 0;
}

.contacts__item-value {
  font-size: 24px;
  color: #0587c0;
  margin: 10px 0;
  font-weight: 700;
}

.contacts__item {
  margin-bottom: 30px;
}

.inner-project-desc {
  width: 40%;
  text-align: left;
  padding: 20px 0 0 0;
  /*position: fixed;
  top: 130px;
  left: 20px;*/
  float: left;
  margin-top: 20px;
  position: relative;
}

.back-link-container {
  background: #fff;
  height: 70px;
  position: fixed;
  top: 78px;
  left: 20px;
  width: 40%;
  z-index: 99;
}

.inner-project-img {
  float: right;
  width: 59%;
  margin: -40px -40px 0 0;
}

.inner-project-img__img {
  max-width: 100%;
  max-height: 100%;
  margin: 5px;
}

.inner-project__name {
  font-size: 48px;
  font-family: "MuseoCyrl";
  margin: 10px 0 30px 0;
}

.inner-project__subtitle {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0 10px;
}

.inner-project__desc {
  line-height: 28px;
}

.inner-project__ul {
  list-style-type: disc;
  padding-left: 25px;
  margin: 15px 0 0 0;
}

.inner-project__ul>li {
  margin: 10px 0;
  color: #44c2ea;
}

.inner-project__ul>li>span {
  color: #232323;
  line-height: 1.3;
}

.back-link {
  display: inline-block;
  position: absolute;
  top: -20px;
  left: 0;
  color: #0587c0;
  font-family: MuseoCyrl;
  font-size: 20px;
  cursor: pointer;
}

.back-link:hover {
  text-decoration: underline;
}

/*.grid-sizer {
  width: 59%
}*/

.category-grid,
.category-grid__sizer {
  width: 100%;
}

.grid-sizer,
.grid-item {
  width: 50%;
  text-align: center;
  display: inline-block;
}

.item-size--large {
  width: 100%;
}

.category-desc {
  text-align: justify;
  max-width: 800px;
  margin: 0 auto;
}

.category-links {
  max-width: 800px;
  margin: 0 auto 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-links>a {
  margin: 30px 15px 0 0;
}

.category-link {
  color: #0587c0;
  text-decoration: underline;
}

.category-wrapper {
  text-align: center;
  width: 100%;
}

@media (max-width: 1350px) {
  .inner-project-desc {
    display: block;
    position: inherit;
    width: 100%;
    float: none;
    padding-top: 0;
  }

  .back-link {
    position: relative;
    display: block;
    text-align: left;
    top: 0;
    left: 0;
    margin-bottom: 15px;
  }

  .grid {
    position: inherit;
    display: block;
    float: none;
    width: 100%;
    margin: 30px 0 0 0;
  }
}
